<h1>Editing strata plan</h1>

<%= render "form", strata_plan: @strata_plan %>

<br>

<div>
  <%= link_to "Show this strata plan", @strata_plan %> |
  <%= link_to "Back to strata plans", strata_plans_path %>
</div>
